.link {
  color: aliceblue;
  font-weight: bold;
  text-decoration: none;
}

/*@media(min-width: 402px){
  .menu {
      width: 15%;
  }
}

@media(max-width: 400px){
  .menu {
      width: 30%;
  }
}*/

