
.link {
  color: aliceblue;
  font-weight: bold;
  text-decoration: none;
}


.item-list {
  color: #b8b7ad;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10%;
}

.menu {
  background: black;
  padding: 10% 10% 0;
  font-size: 1.15em;
}

@media(max-width: 730px){
  .menu {
      font-size: 0.5em;
  }
}

@media(max-width: 730px){
  .item-list {
      padding-top: 40px;
  }
}

/*@media(min-width: 402px){
  .menu {
      width: 15%;
  }
}

@media(max-width: 400px){
  .menu {
      width: 30%;
  }
}*/
